/* css */
  body {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  form {
    padding: 12px;
    background-color: #f0f8ff;
    border-radius: 8px;
  }

  main {
    display: flex;
    justify-content: space-around;
  }

  .main-title  {
    text-align: center;
  }

  .main-content {
    flex: 1;
    padding: 12px
  }

  .main-article {
    flex: 1;
    padding: 12px;
    background-color: rgb(255, 233, 236);
    border-radius: 8px;
  }

  .input-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
  }

  .result-content {
    text-align: center;
    background-color: aliceblue;
    border-radius: 8px;
    padding: 12px;
  }

  .submit-btn {
    background-color: aqua;
    border: 0px;
    height: 35px;
    width: 90px;
    border-radius: 8px;
    font-weight: 500;
  }

  .reset-btn {
    background-color:whitesmoke;
    border: 0px;
    height: 32px;
    width: 70px;
    border-radius: 8px;
    font-weight: 500;
  }

  input[type=number] {
    width: 100%;
    padding: 6px 12px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #d0e2f1;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    border-radius: 5px;
  }

  input[type=number]:focus {
    border: 3px solid #f09090
  }

  .form-content {
    margin-bottom: 8px;
    margin-top: 4px;
  }

  .form-content-radio {
    margin-bottom: 12px;
    margin-top: 4px;
  }